<form action="/random/results">
    <div><label for="random_min"> Minimum </label>
    <input id="random_min" type="text" placeholder="E.g. 1.5" name="random_input_min"></div>

    <div><label for="random_max"> Maximum </label>
    <input id="random_max" type="text" placeholder="E.g. 4.5" name="random_input_max"></div>

    <button> Pick random number </button>

</form>