<div><form action="/square_root/results">
    <div><label for="squareroot_input"> Enter a number </label>
    <input id="squareroot_input" type="text" placeholder="What number do you want to take the square root of?" name="sqrt_input"></div>

    <div><button> Calculate square root </button></div>

</div>
</form>